.container-fluid {
    margin-top: 35px;
}

.footer-text{
    margin-top: -30px !important;
    width: 90%;
    margin: 0 auto;
    font-size: 1.1rem;
    text-align: justify;
}


// ********** MEDIA QUERIES ********** 

// TABLETS 

@media screen and (min-width: 768px) {

    .footer-text {
        padding-bottom: 20px;
        font-size: 1.4rem;
    }
}

// DESKTOPS

@media screen and (min-width: 1024px) {

    .footer-text {
        margin-top: 30px !important;
        font-size: 1rem;
    }
}
