// Main Container Styles

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    height: 100dvh !important;
}

.container-content {
    display: flex;
    flex-direction: column;
}


// Purchase Details Styles

.purchase-detail-card {
    margin-top: 10px;
    padding-top: 40px;
    border-radius: 0;
    height: max-content;
    border: none;
    margin-bottom: 20px;
}

.purchase-detail-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.accordion-item {
    border: none;
    border-radius: 0;
    box-shadow: 0px 6px 8px rgba($color: #000000, $alpha: .2);
}

.accordion-body {
    border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
}

.accordion-button {
    color: #000000;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 10px;
    border: none !important;
    border-top: 1px solid rgba($color: #000000, $alpha: 1.0);
}

.custom-accordion-button::after {
    display: none;
}

.custom-accordion-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.title-style {
    font-size: 1.1rem;
}

.price-style {
    font-size: 1.1rem;
    font-weight: bold;
}

.discount-price {
    color: #00BC57;
}

.total-title,
.total-price {
    font-size: 1.2rem;
    font-weight: 700;
}

.icon-accordion-button {
    color: #0077ff;
    margin-top: 10px;
    font-size: 1.4rem;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) .icon-accordion-button {
    transform: rotate(180deg);
}


// Form Checkout Styles

.form-label {
    font-weight: 600;
}

strong {
    color: #ff0000;
}

.form-control,
.form-select {
    height: 48px;
    border-radius: 2px;
    box-shadow: none;
    outline-color: #0077ff;
}

.card-brands {
    width: 90%;
    margin: 20px auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.card-brands img {
    height: 20px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.group-buttons {
    margin-bottom: 25px;
}

.checkout-form-button {
    height: 54px;
    border-radius: 2px;
}

.finalize-purchase-button {
    color: #FFF;
    background: #212129;
}


//  ********** MEDIA QUERIES **********

// TABLETS

@media screen and (min-width: 768px) {


    .container-fluid {
        width: 100%;
        height: 100vh;
    }

    .container-content {
        width: 100%;
    }

    .purchase-detail-title {
        font-size: 1.8rem;
    }

    .title-style,
    .price-style {
        font-size: 1.5rem;
    }

    .total-title,
    .total-price {
        font-size: 1.8rem;
    }

    .icon-accordion-button {
        font-size: 2rem;
    }

    // Form Checkout Styles

    .form-label {
        font-size: 1.5rem;
    }

    .form-control,
    .form-select {
        height: 68px;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .card-brands {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .card-brands img {
        height: 30px;
    }

    .checkout-form-button {
        height: 74px;
        font-size: 1.5rem;
        letter-spacing: 1.6px;
    }

}


// DESKTOPS

@media screen and (min-width: 1024px) {

    .container-fluid {
        display: flex;
        align-items: center;
        padding: 0 !important;
        margin: 0 !important;
    }

    .container-content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
    }

    .purchase-detail-card {
        margin-top: 0px;
        background: #f0f0f0;
    }

    .purchase-detail-title {
        font-size: 1.2rem;
    }

    .title-style,
    .price-style {
        font-size: 1rem;
    }

    .total-title,
    .total-price {
        font-size: 1.2rem;
    }


    // Form Checkout Styles

    .form-checkout-card {
        background: #F0f0f0;
    }

    .form-label {
        font-size: .9rem;
    }

    .form-control,
    .form-select {
        height: 40px;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .card-brands {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .card-brands img {
        height: 18px;
    }

    .checkout-form-button {
        height: 46px;
        font-size: 1rem;
        letter-spacing: 1.6px;
    }

}