<app-header></app-header>

<main class="container-fluid m-0 p-0 mt-lg-3">

    <div class="container-content justify-content-evenly align-content-center">

        <!-- Purchase Details Card -->

        <div class="col-12 col-md-12 col-lg-4 ">

            <div class="card p-0 p-md-4 purchase-detail-card">

                <div class="accordion d-lg-none" id="purchaseDetailAccordion">
                    <div class="accordion-item">

                        <div id="accordionItemCollapse" class="accordion-collapse collapse"
                            data-bs-parent="#purchaseDetailAccordion">
                            <div class="accordion-body">

                                <h2 class="purchase-detail-title mb-0">
                                    Resumo da compra
                                </h2>

                                <hr>

                                <ul class="purchase-detail-items p-0 m-0">

                                    <li class="d-flex justify-content-between subtotal-box">
                                        <p class="subtotal-title title-style">Subtotal</p>
                                        <p class="subtotal-price price-style">R$ 120,00</p>
                                    </li>

                                    <li class="d-flex justify-content-between discount-box">
                                        <p class="discount-title title-style">Desconto</p>
                                        <p class="discount-price price-style">- R$ 20,00</p>
                                    </li>

                                    <li class="d-flex justify-content-between shipping-box">
                                        <p class="shipping-title title-style">Frete</p>
                                        <p class="shipping-price price-style">R$ 14,90</p>
                                    </li>

                                </ul>

                            </div>
                        </div>

                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button custom-accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordionItemCollapse"
                                    aria-expanded="true"
                                    aria-controls="accordionItemCollapse"
                            >

                                <div class="d-flex justify-content-between w-100 total-box">
                                    <p class="mb-0 total-title">Total</p>
                                    <p class="mb-0 total-price">R$ 114,90</p>
                                </div>

                                <i class="bi bi-chevron-down icon-accordion-button"></i>

                            </button>
                        </h2>

                    </div>
                </div>

                <div class="d-none d-lg-block">

                    <h2 class="purchase-detail-title mb-0">
                        Resumo da compra
                    </h2>

                    <hr>

                    <ul class="purchase-detail-items p-0 m-0">

                        <li class="d-flex justify-content-between subtotal-box">
                            <p class="subtotal-title title-style">Subtotal</p>
                            <p class="subtotal-price price-style">R$ 120,00</p>
                        </li>

                        <li class="d-flex justify-content-between discount-box">
                            <p class="discount-title title-style">Desconto</p>
                            <p class="discount-price price-style">- R$ 20,00</p>
                        </li>

                        <li class="d-flex justify-content-between shipping-box">
                            <p class="shipping-title title-style">Frete</p>
                            <p class="shipping-price price-style">R$ 14,90</p>
                        </li>

                    </ul>

                    <hr>

                    <div class="d-flex justify-content-between total-box">
                        <p class="total-title">Total</p>
                        <p class="total-price">R$ 114,90</p>
                    </div>

                </div>

            </div>

            <div class="group-buttons d-none d-lg-block mt">

                <button class="checkout-form-button finalize-purchase-button btn mt-lg-0">
                    Finalizar Compra
                </button>

                <button class="checkout-form-button return-button btn bg-transparent mt-1 border-1">
                    Voltar
                </button>

            </div>

        </div>

        <!-- Form Checkout Card  -->

        <div class="col-10 col-md-11 m-auto m-lg-0 col-lg-7 p-md-4 form-checkout-card">

            <div class="mb-3">

                <label for="name" class="form-label">
                    Nome do titular (Impresso no cartão) <strong>*</strong>
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nome Completo">
                </div>

            </div>

            <div class="mb-3">

                <label for="card-number" class="form-label">
                    Número do cartão <strong>*</strong>
                </label>

                <div class="position-relative w-100">

                    <div class="input-group">
                        <input type="text" class="form-control"
                            id="card-number" name="card-number"
                            placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="19"
                            (input)="checkCardBrand($event)"
                            (input)="formatCardNumber($event)"
                            [(ngModel)]="inputCardNumber"
                        >
                    </div>

                    <img [src]="cardBrandImage" id="cardBrand" alt="cardBrand" [class.active]="cardBrand"
                        class="card-brand position-absolute">

                </div>

            </div>

            <div class="row">

                <div class="mb-3 col-6">

                    <label for="expiration" class="form-label">
                        Validade <strong>*</strong>
                        
                        <i class="ms-2 bi bi-info-circle-fill info-icon"
                            data-bs-toggle="tooltip"
                            title="A validade do cartão é o mês e o ano que
                            ele vai expirar, geralmente você o encontra na
                            parte da frente do cartão"
                        ></i>
                    </label>

                    <div class="input-group">
                        <input type="text" class="form-control"
                                id="expiration" name="expiration"
                                placeholder="MM/AA"
                                (input)="formatExpirationDate($event)"
                                [(ngModel)]="inputExpiration" maxlength="5"
                        >
                    </div>

                </div>

                <div class="mb-3 col-6">

                    <label for="cvv" class="form-label">
                        CVV <strong>*</strong>
                        
                        <i class="ms-2 bi bi-info-circle-fill info-icon"
                            data-bs-toggle="tooltip"
                            title="O código de segurança (CVV) tem 3 ou 4 números
                            e geralmente você o encontra na parte de trás do seu
                            cartão de crédito."
                        ></i>
                    </label>

                    <div class="input-group">
                        <input type="number" class="form-control"
                                id="cvv" name="cvv"
                                placeholder="•••" maxlength="4"
                                (input)="formatCvvNumber($event)"
                                [(ngModel)]="inputCvv"
                        >
                    </div>

                </div>

            </div>

            <div class="mb-3">

                <label for="installments-box" class="form-label">
                    Número de Parcelas <strong>*</strong>
                </label>

                <select class="form-select" name="installments-box" [(ngModel)]="inputInstallments">
                    <option value="1">1x - 114,90</option>
                    <option value="2">2x - 57,45</option>
                    <option value="3">3x - 38,30</option>
                </select>

            </div>

            <div class="mb-3">

                <label for="cpf-cnpj" class="form-label">
                    CPF/CNPJ <strong>*</strong>
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" id="cpf-cnpj" name="cpf-cnpj" placeholder="CPF/CNPJ"
                        [(ngModel)]="inputCpfCnpj" (input)="formatCpfCnpj($event)">
                </div>

            </div>

            <div class="group-buttons d-lg-none">

                <button class="checkout-form-button finalize-purchase-button btn mt-3 mt-md-0">
                    Finalizar Compra
                </button>

                <button
                    class="checkout-form-button return-button btn bg-transparent mt-2 border-1 border-black border-opacity-25">
                    Voltar
                </button>

            </div>

        </div>

    </div>

</main>

<app-footer></app-footer>