<main class="container-fluid m-0 p-0 mt-md-5">
    <div class="container p-0 m-0">

        <div class="container-content">

            <div class="col-12 card p-0 p-md-4 purchase-detail-card">

                <div class="accordion d-md-none" id="purchaseDetailAccordion">
                    <div class="accordion-item">

                        <div id="accordionItemCollapse" class="accordion-collapse collapse"
                            data-bs-parent="#purchaseDetailAccordion">
                            <div class="accordion-body">

                                <h2 class="purchase-detail-title mb-0">
                                    Resumo da compra
                                </h2>

                                <hr>

                                <ul class="purchase-detail-items p-0 m-0">

                                    <li class="d-flex justify-content-between subtotal-box">
                                        <p class="subtotal-title title-style">Subtotal</p>
                                        <p class="subtotal-price price-style">R$ 120,00</p>
                                    </li>

                                    <li class="d-flex justify-content-between discount-box">
                                        <p class="discount-title title-style">Desconto</p>
                                        <p class="discount-price price-style">- R$ 20,00</p>
                                    </li>

                                    <li class="d-flex justify-content-between shipping-box">
                                        <p class="shipping-title title-style">Frete</p>
                                        <p class="shipping-price price-style">R$ 14,90</p>
                                    </li>

                                </ul>

                            </div>
                        </div>

                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button custom-accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#accordionItemCollapse" aria-expanded="true"
                                aria-controls="accordionItemCollapse">

                                <div class="d-flex justify-content-between w-100 total-box">
                                    <p class="mb-0 total-title">Total</p>
                                    <p class="mb-0 total-price">R$ 114,90</p>
                                </div>

                                <i class="bi bi-chevron-down icon-accordion-button"></i>

                            </button>
                        </h2>

                    </div>
                </div>

                <div class="d-none d-md-block">

                    <h2 class="purchase-detail-title mb-0">
                        Resumo da compra
                    </h2>

                    <hr>

                    <ul class="purchase-detail-items p-0 m-0">

                        <li class="d-flex justify-content-between subtotal-box">
                            <p class="subtotal-title title-style">Subtotal</p>
                            <p class="subtotal-price price-style">R$ 120,00</p>
                        </li>

                        <li class="d-flex justify-content-between discount-box">
                            <p class="discount-title title-style">Desconto</p>
                            <p class="discount-price price-style">- R$ 20,00</p>
                        </li>

                        <li class="d-flex justify-content-between shipping-box">
                            <p class="shipping-title title-style">Frete</p>
                            <p class="shipping-price price-style">R$ 14,90</p>
                        </li>

                    </ul>

                    <hr>

                    <div class="d-flex justify-content-between">
                        <p>Total</p>
                        <p>R$ 114,90</p>
                    </div>

                    <button class="checkout-button btn w-100">
                        Finalizar Compra
                    </button>

                </div>

            </div>

            <div class="col-11 m-auto form-checkout-card">

                <div class="mb-3">

                    <label for="name" class="form-label">
                        Nome do titular (Impresso no cartão) <strong>*</strong>
                    </label>

                    <div class="input-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nome Completo">
                    </div>

                </div>

                <div class="mb-3">

                    <label for="card-number" class="form-label">
                        Número do cartão <strong>*</strong>
                    </label>

                    <div class="input-group">
                        <input type="number" class="form-control" id="card-number" name="card-number"
                            placeholder="XXXX-XXXX-XXXX-XXXX">
                    </div>

                    <div class="card-brands">
                        <img src="../../../assets/visa_icon.png" id="visa" alt="Visa">
                        <img src="../../../assets/mastercard_icon.png" id="mastercard" alt="MasterCard">
                        <img src="../../../assets/elo_icon.png" id="elo" alt="Elo">
                        <img src="../../../assets/hipercard_icon.png" id="hipercard" alt="Hipercard">
                        <img src="../../../assets/american_Express_icon.png" id="american-express"
                            alt="American Express">
                    </div>
                </div>

                <div class="row">

                    <div class="mb-3 col-6">

                        <label for="expiration" class="form-label">
                            Validade <strong>*</strong>
                            <i class="ms-2 bi bi-info-circle-fill"></i>
                        </label>

                        <div class="input-group">
                            <input type="text" class="form-control" id="expiration" name="expiration"
                                placeholder="MM/AAAA">
                        </div>

                    </div>

                    <div class="mb-3 col-6">

                        <label for="cvv" class="form-label">
                            CVV <strong>*</strong>
                            <i class="ms-2 bi bi-info-circle-fill"></i>
                        </label>

                        <div class="input-group">
                            <input type="text" class="form-control" id="cvv" name="cvv" placeholder="•••">
                        </div>

                    </div>

                </div>

                <div class="mb-3">

                    <label for="card-number" class="form-label">
                        Número de Parcelas <strong>*</strong>
                    </label>

                    <select class="form-select" aria-label="Default select example">
                        <option selected>1x 114,90</option>
                        <option value="1">1x 114,90</option>
                        <option value="2">2x 57,45</option>
                        <option value="3">3x 38,30</option>
                    </select>

                </div>

                <div class="mb-3">

                    <label for="cpfCnpj" class="form-label">
                        CPF/CNPJ <strong>*</strong>
                    </label>

                    <div class="input-group">
                        <input type="text" class="form-control" id="cpfCnpj" name="cpfCnpj" placeholder="CPF/CNPJ">
                    </div>

                </div>

                <div class="group-buttons">

                    <button class="checkout-form-button finalize-purchase-button btn w-100 mt-3">
                        Finalizar Compra
                    </button>

                    <button class="checkout-form-button return-button btn bg-transparent w-100 mt-2">
                        Voltar
                    </button>

                </div>

            </div>

        </div>

    </div>
</main>